<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Favicon Link -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/img/favicon.png')}}">
    <!--Link to the Google Font - Roboto -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Dashboard - View Posts and Interact</title>
</head>

<body id="dash-body">
    <div class="dashboard">
        <div class="sidebar">
            <div class="logo">
                <a href="#" id="logo">CodersEnsemble</a>
            </div>
            <div class="home">
                <a href="{{ url_for('auth.dashboard') }}"><img class="icons-dash"
                        src="{{ url_for('static', filename='img/home.png') }}" alt=""></a>
                <a href="{{ url_for('auth.dashboard') }}">
                    <p>Home</p>
                </a>
            </div>
            <div class="posts">
                <a href="{{ url_for('auth.dashboard') }}"><img class="icons-dash"
                        src="{{ url_for('static', filename='img/posts.png') }}" alt=""></a>
                <a href="{{ url_for('auth.dashboard') }}">
                    <p>Posts</p>
                </a>
            </div>
            <div class="create">
                <a href="{{ url_for('main.post')}}"><img class="icons-dash"
                        src="{{ url_for('static', filename='img/create.png') }}" alt=""></a>
                <a href="{{ url_for('main.post')}}">
                    <p>Create Post</p>
                </a>
            </div>
        </div>
        <div class="main-content">
            <!-- Header -->
            <div class="dash-header">
                <div class="Search">
                    <input type="text" placeholder="Search...">
                </div>
                <div class="header-right">
                    <img src="{{url_for('static', filename='/img/notifications.png')}}" alt="notifications">
                    
                    <div class="avatar-container">
                        <img class="avatar-img" id="avatar-img" src="{{ current_user.avatar(128) }}" alt="user avatar">
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a href="{{ url_for('main.update_profile')}}" id="editProfile">Edit Profile</a>
                            <a href="{{ url_for('auth.logout') }}" id="logout">Log Out</a>
                        </div>
                    </div> 
                </div>
            </div>
            {% for post in posts %}
            <div class="post-window">
                <div class="post-top">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ current_user.avatar(128) }}" alt="user avatar">
                    </div>
                    <div class="author-name">
                        {{ post.author.username }}
                    </div>
                    <div class="time">
                        {{ post.created_at }}
                    </div>
                </div>
                <div class="post-content">
                    <p class="content" id="postContent-{{ post.id }}">{{ post.content }}</p>
                </div>
                <button class="editBtn" data-post-id="{{ post.id }}">Edit</button>
                <div id="editSection-{{ post.id }}" class="editSection">
                    <textarea class="editTextarea" id="editTextarea-{{ post.id }}" rows="4" cols="50"></textarea>
                    <button class="saveBtn" data-post-id="{{ post.id }}">Save</button>
                    <button class="cancelBtn" data-post-id="{{ post.id }}">Cancel</button>
                </div>
            </div>
            {% endfor %}
            
            
            
        </div>
    </div>
    <script src="{{ url_for('static', filename="js/app.js") }}"></script>
</body>

</html>


