{% extends 'main.html' %}

{% block title %}CodersEnsemble{% endblock title %}

{% block main %}
<div class="hero-section">
    <div class="hero-content">
        <div class="intro">
            <h2>Meet, Learn, and Colaborate with Peers on Projects</h2>
            <p>Unleash your coding potential, join <span class="span">CodersEnsemble</span>  today! Collaborate in
            perfect harmony. <br> You are a click away from learning with your peers.</p>
        </div>
        <div class="hero-cta">
            <a href="{{ url_for('auth.sign_up')}}">
                <button class="cta-btn">Get Started</button>
            </a>
        </div>
    </div>
    <div class="hero-img">
    </div>  
</div>
<section id="about-us">
    <div class="small-container">
        <h2 class="section-header">Why CodersEnsemble?</h2>
        <div class="row-1">
            <div class="col-2">
                <h3>A Great Space to Collaborate, Learn, and Grow</h3>
                <p>
                    CodersEnsemble is a dynamic platform dedicated to bringing together coding enthusiasts from around the globe. 
                    It offers a collaborative environment for learning, sharing knowledge, and working on projects. 
                    With diverse resources and community support,
                    CodersEnsemble fosters growth and innovation for both novice and experienced programmers.
                </p>
                <a href="#">Learn More</a>
            </div>
            <div class="col-2">
                <img id="about-ce" src="{{ url_for('static', filename='/img/code-collab.png')}}" alt="illustration">
            </div>
        </div>
    </div>
</section>
<section id="achieve">
    <div class="section-header">
        <h2>Achieve More just with one Click!</h2>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='/img/collaborate.png')}}" alt="collaborate with peers">
            <h3>Collaborate with Ease</h3>
            <p class="info-1">
                Collaborate with your peers anytime you need on critical programming projects. Share your coding-colab
                challenges and get response from like minded individuals.
            </p>
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='/img/learning.png')}}" alt="learn to code">
            <h3>Learn from your Peers</h3>
            <p class="info-1">
                Expand your knowledge in programming principles, programming languages, system design, data structure,
                and other challenging areas that keep you ahead of the pack.
            </p>
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='/img/forums.png')}}" alt="participate in forums">
            <h3>Participate in Forums</h3>
            <p class="info-1">
                Participate in forums with junior devs or senior devs where you can comfortably get community support without the 
                fear of victimization or being shy of being laughed at.
            </p>
        </div>
    </div>

    <section class="call-to-action">
        <div class="cta-container">
            <div class="cta-text">
                <h3>Call to action! It's time!</h3>
                <p>Sign up for our product by clicking that button right over there!</p>
            </div>
            <div class="cta-button">
                <a href="{{ url_for('auth.sign_up') }}"><button class="cta-btn"> Sign up</button></a>
            </div>
        </div>
    </section>
        
</section>

{% endblock main %}